</head>
<body>
  <nav>
    <i class="fa-solid fa-plane"></i>
    <a 
      href="/meals/new"
    >Add Meal</a>
    <a 
      href="/flights/new"
    >Add Flight</a>
    <a 
      href="/flights" 
    >All Flights</a>
  </nav>