</head>
<body>
  <nav>
    <i class="fa-solid fa-plane"></i>
    <a 
      href="/flights/new" <%#- title === 'Add Movie' ? 'class="active"' : "" %>
    >Add Flight</a>
    <a 
      href="/flights" <%#- title === 'All Movies' ? 'class="active"' : "" %>
    >All Flights</a>
  </nav>